In [17]:
import pandas as pd

In [4]:
#Uploading the FataFrames:

df_bookings=pd.read_csv('D:\\21.CODEBASICS\\BOOTCAMP\\Python\\PyCharm-Learn Python\\1-CODEBASICS\\PYTHON-HOTEL DATA ANALYTICS PROJECT\\datasets\\fact_bookings.csv')
df_hotels=pd.read_csv('D:\\21.CODEBASICS\\BOOTCAMP\\Python\\PyCharm-Learn Python\\1-CODEBASICS\\PYTHON-HOTEL DATA ANALYTICS PROJECT\\datasets\\dim_hotels.csv')
df_rooms=pd.read_csv('D:\\21.CODEBASICS\\BOOTCAMP\\Python\\PyCharm-Learn Python\\1-CODEBASICS\\PYTHON-HOTEL DATA ANALYTICS PROJECT\\datasets\\dim_rooms.csv')
df_aggregated_bookings=pd.read_csv('D:\\21.CODEBASICS\\BOOTCAMP\\Python\\PyCharm-Learn Python\\1-CODEBASICS\\PYTHON-HOTEL DATA ANALYTICS PROJECT\\datasets\\fact_aggregated_bookings.csv')

In [7]:
#Cleaning:BOOKINGS TABLE
df_bookings.describe()

,property_id,no_guests,ratings_given,revenue_generated,revenue_realized
count,134590.000000,134587.000000,56683.000000,1.345900e+05,134590.000000
mean,18061.113493,2.036170,3.619004,1.537805e+04,12696.123256
std,1093.055847,1.034885,1.235009,9.303604e+04,6928.108124
min,16558.000000,-17.000000,1.000000,6.500000e+03,2600.000000
25%,17558.000000,1.000000,3.000000,9.900000e+03,7600.000000
50%,17564.000000,2.000000,4.000000,1.350000e+04,11700.000000
75%,18563.000000,2.000000,5.000000,1.800000e+04,15300.000000
max,19563.000000,6.000000,5.000000,2.856000e+07,45220.000000

In [8]:
#1..>no_guests are negative
#There are negative entries for no_guests column which is absurd,let's check the rows where no_guests are negative:
no_guests_neg=df_bookings[df_bookings.no_guests<0]
print(no_guests_neg)
#There are 9 entries,we need to get rid of that.

               booking_id  property_id booking_date check_in_date  \
0        May012216558RT11        16558     27-04-22      1/5/2022
3        May012216558RT14        16558     28-04-22      1/5/2022
17924    May122218559RT44        18559    12/5/2022     12/5/2022
18020    May122218561RT22        18561     8/5/2022     12/5/2022
18119   May122218562RT311        18562     5/5/2022     12/5/2022
18121   May122218562RT313        18562    10/5/2022     12/5/2022
56715    Jun082218562RT12        18562     5/6/2022      8/6/2022
119765  Jul202219560RT220        19560     19-07-22      20-07-22
134586   Jul312217564RT47        17564     30-07-22      31-07-22

       checkout_date  no_guests room_category booking_platform  ratings_given  \
0           2/5/2022       -3.0           RT1    direct online            1.0
3           2/5/2022       -2.0           RT1           others            NaN
17924       14-05-22      -10.0           RT4    direct online            NaN
18020       14-05-22      -12.0           RT2     makeyourtrip            NaN
18119       17-05-22       -6.0           RT3   direct offline            5.0
18121       17-05-22       -4.0           RT3    direct online            NaN
56715       13-06-22      -17.0           RT1           others            NaN
119765      22-07-22       -1.0           RT2           others            NaN
134586      1/8/2022       -4.0           RT4          logtrip            2.0

       booking_status  revenue_generated  revenue_realized
0         Checked Out              10010             10010
3           Cancelled               9100              3640
17924         No Show              20900             20900
18020       Cancelled               9000              3600
18119     Checked Out              16800             16800
18121       Cancelled              14400              5760
56715     Checked Out               6500              6500
119765    Checked Out              13500             13500
134586    Checked Out              38760             38760

In [18]:
df_bookings=df_bookings[df_bookings.no_guests>=0]
print(df_bookings)
#All negative values for no_guests are excluded and we have saved the filtered data in the same dataframe,df_bookings.

               booking_id  property_id booking_date check_in_date  \
1        May012216558RT12        16558     30-04-22      1/5/2022
2        May012216558RT13        16558     28-04-22      1/5/2022
4        May012216558RT15        16558     27-04-22      1/5/2022
5        May012216558RT16        16558     1/5/2022      1/5/2022
6        May012216558RT17        16558     28-04-22      1/5/2022
...                   ...          ...          ...           ...
134584   Jul312217564RT45        17564     30-07-22      31-07-22
134585   Jul312217564RT46        17564     29-07-22      31-07-22
134587   Jul312217564RT48        17564     30-07-22      31-07-22
134588   Jul312217564RT49        17564     29-07-22      31-07-22
134589  Jul312217564RT410        17564     31-07-22      31-07-22

       checkout_date  no_guests room_category booking_platform  ratings_given  \
1           2/5/2022        2.0           RT1           others            NaN
2           4/5/2022        2.0           RT1          logtrip            5.0
4           2/5/2022        4.0           RT1    direct online            5.0
5           3/5/2022        2.0           RT1           others            4.0
6           6/5/2022        2.0           RT1           others            NaN
...              ...        ...           ...              ...            ...
134584      1/8/2022        2.0           RT4           others            2.0
134585      3/8/2022        1.0           RT4     makeyourtrip            2.0
134587      2/8/2022        1.0           RT4         tripster            NaN
134588      1/8/2022        2.0           RT4          logtrip            2.0
134589      1/8/2022        2.0           RT4     makeyourtrip            NaN

       booking_status  revenue_generated  revenue_realized
1           Cancelled               9100              3640
2         Checked Out            9100000              9100
4         Checked Out              10920             10920
5         Checked Out               9100              9100
6           Cancelled               9100              3640
...               ...                ...               ...
134584    Checked Out              32300             32300
134585    Checked Out              32300             32300
134587      Cancelled              32300             12920
134588    Checked Out              32300             32300
134589      Cancelled              32300             12920

[134578 rows x 12 columns]

In [23]:
#2..>Revenue generated value is absurd:Remove outliers.
max_revenue=df_bookings.revenue_generated.max()
min_revenue=df_bookings.revenue_generated.min()
print(max_revenue)
print(min_revenue)
#Max_revenue value is 28560000 which is absurd, cause a single booking id cant have 28560000 amount of money.
#Take note: If a value is > 3 standard deviation from the average,then we can consider it as an outlier.
avg,std_dev=df_bookings.revenue_generated.mean(),df_bookings.revenue_generated.std()
print(avg,std_dev)

#3 times of standard deviation from average will be the maximuam accepted value:
higher_limit=avg+3*std_dev
print(higher_limit)

#The lower limit will be:
lower_limit=avg-3*std_dev
print(lower_limit)

28560000
6500
15378.036937686695 93040.1549314641
294498.50173207896
-263742.4278567056

In [31]:
#Let's check out the outliers(yes,there can be more):

df_bookings[df_bookings.revenue_generated>higher_limit]
#These all are outliers, who will pay this much amount for one night?
#Only records that are <higher_limit are valid records.
df_bookings[df_bookings.revenue_generated<higher_limit]

#to filer out the outliers,save this dataframe as df_bookings:
df_bookings=df_bookings[df_bookings.revenue_generated<higher_limit]
print(df_bookings)

               booking_id  property_id booking_date check_in_date  \
1        May012216558RT12        16558     30-04-22      1/5/2022
4        May012216558RT15        16558     27-04-22      1/5/2022
5        May012216558RT16        16558     1/5/2022      1/5/2022
6        May012216558RT17        16558     28-04-22      1/5/2022
7        May012216558RT18        16558     26-04-22      1/5/2022
...                   ...          ...          ...           ...
134584   Jul312217564RT45        17564     30-07-22      31-07-22
134585   Jul312217564RT46        17564     29-07-22      31-07-22
134587   Jul312217564RT48        17564     30-07-22      31-07-22
134588   Jul312217564RT49        17564     29-07-22      31-07-22
134589  Jul312217564RT410        17564     31-07-22      31-07-22

       checkout_date  no_guests room_category booking_platform  ratings_given  \
1           2/5/2022        2.0           RT1           others            NaN
4           2/5/2022        4.0           RT1    direct online            5.0
5           3/5/2022        2.0           RT1           others            4.0
6           6/5/2022        2.0           RT1           others            NaN
7           3/5/2022        2.0           RT1          logtrip            NaN
...              ...        ...           ...              ...            ...
134584      1/8/2022        2.0           RT4           others            2.0
134585      3/8/2022        1.0           RT4     makeyourtrip            2.0
134587      2/8/2022        1.0           RT4         tripster            NaN
134588      1/8/2022        2.0           RT4          logtrip            2.0
134589      1/8/2022        2.0           RT4     makeyourtrip            NaN

       booking_status  revenue_generated  revenue_realized
1           Cancelled               9100              3640
4         Checked Out              10920             10920
5         Checked Out               9100              9100
6           Cancelled               9100              3640
7             No Show               9100              9100
...               ...                ...               ...
134584    Checked Out              32300             32300
134585    Checked Out              32300             32300
134587      Cancelled              32300             12920
134588    Checked Out              32300             32300
134589      Cancelled              32300             12920

[134573 rows x 12 columns]

In [37]:
#3..> Revenue realized column also has absurd entries.
#Check the column first:
df_bookings.revenue_realized.describe()
#max value 45220 is this a valid entry?

count    134573.000000
mean      12695.983585
std        6927.791692
min        2600.000000
25%        7600.000000
50%       11700.000000
75%       15300.000000
max       45220.000000
Name: revenue_realized, dtype: float64

In [38]:
#Lets check whether it's an outlier or no, following the same standard deviation method to find outliers.
higher_limit=df_bookings.revenue_realized.mean()+3*df_bookings.revenue_realized.std()
print(higher_limit)  #it is less than  45220

33479.358661845814

In [46]:
#But in 2023,an amount of 42220 might not  an outlier even if it exceeds 3 standard deviation rule,there can be luxurious hotels that charge
#..this much amount.
#Lets see how many such entries we have,
print(df_bookings[df_bookings.revenue_realized>higher_limit])
#We can see there are so many records that exceeds the higher limit,1299 rows,but all of them are from RT4 room_category,which is expensive.
#if we check the room_types:
df_rooms #--RT4 is a Presidential room type, which is very very expensive.
#Now,to specifically find outliers on  RT4 type rooms,we can first describe the RT4 type to see its mean and standard deviation values,
df_bookings[df_bookings.room_category=="RT4"].revenue_realized.describe()

               booking_id  property_id booking_date check_in_date  \
137      May012216559RT41        16559     27-04-22      1/5/2022
139      May012216559RT43        16559     1/5/2022      1/5/2022
143      May012216559RT47        16559     28-04-22      1/5/2022
149     May012216559RT413        16559     24-04-22      1/5/2022
222      May012216560RT45        16560     30-04-22      1/5/2022
...                   ...          ...          ...           ...
134328   Jul312219560RT49        19560     31-07-22      31-07-22
134331  Jul312219560RT412        19560     31-07-22      31-07-22
134467   Jul312219562RT45        19562     28-07-22      31-07-22
134474  Jul312219562RT412        19562     25-07-22      31-07-22
134581   Jul312217564RT42        17564     31-07-22      31-07-22

       checkout_date  no_guests room_category booking_platform  ratings_given  \
137         7/5/2022        4.0           RT4           others            NaN
139         2/5/2022        6.0           RT4         tripster            3.0
143         3/5/2022        3.0           RT4           others            5.0
149         7/5/2022        5.0           RT4          logtrip            NaN
222         3/5/2022        5.0           RT4           others            3.0
...              ...        ...           ...              ...            ...
134328      2/8/2022        6.0           RT4    direct online            5.0
134331      1/8/2022        6.0           RT4           others            2.0
134467      1/8/2022        6.0           RT4     makeyourtrip            4.0
134474      6/8/2022        5.0           RT4   direct offline            5.0
134581      1/8/2022        4.0           RT4     makeyourtrip            4.0

       booking_status  revenue_generated  revenue_realized
137       Checked Out              38760             38760
139       Checked Out              45220             45220
143       Checked Out              35530             35530
149       Checked Out              41990             41990
222       Checked Out              34580             34580
...               ...                ...               ...
134328    Checked Out              39900             39900
134331    Checked Out              39900             39900
134467    Checked Out              39900             39900
134474    Checked Out              37050             37050
134581    Checked Out              38760             38760

[1299 rows x 12 columns]

count    16071.000000
mean     23439.308444
std       9048.599076
min       7600.000000
25%      19000.000000
50%      26600.000000
75%      32300.000000
max      45220.000000
Name: revenue_realized, dtype: float64

In [49]:
#As we can see,for RT4 room category,the mean is  23439.308444,and standard deviation will be  9048.599076,so,for RT4 the outlier will be:
23439.308444+3*9048.599076 
#which is: 50585.105672000005
#By rouding off,
round(50585.105672000005)
#The max rent for RT4 type is 45000 which is less than outliers,means,all okay.

50585

In [51]:
#4..>Checking NA Values.
df_bookings.isnull().sum()
#The ratings_given column has 77897 null values.
#Because people not always give ratings,which is natural,we don't need to handle these NA values.

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        77897
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64